<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        cacheResult="false"
        failOnRisky="true"
        failOnWarning="false"
        failOnDeprecation="false"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <!-- Filtro de arquivos para cobertura -->
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
        </exclude>
    </source>

    <!-- Relatórios de cobertura -->
    <coverage processUncoveredFiles="true">
        <report>
            <clover outputFile="build/coverage/clover.xml"/>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>
</phpunit>
